<!DOCTYPE html>
<html >
  <head>
    <meta charset="UTF-8">
    <title>Sync-Chat</title>

    <link rel="icon" href="/img/favicon.ico" type="image/x-icon"/>
    <link rel="shorcut icon" href="/img/favicon.ico" type="image/x-icon" />

    <link rel="stylesheet" href="/css/style.css">
    <script defer src="https://use.fontawesome.com/releases/v5.0.9/js/all.js" integrity="sha384-8iPTk2s/jMVj81dnzb/iFR2sdA7u06vHJyyLlAd4snFpCl/SnyUjRrbdJsw1pGIl" crossorigin="anonymous"></script>
  </head>
  <body>
    <div class="container not-found-error clearfix" style="text-align: center;">
    	<i class="fas fa-8x fa-exclamation-triangle"></i>
    	<p> The page you're looking for could not be found!</p>
      <i class="fa fa-3x fa-frown"></i>
    	<p> We looked everywhere, but we couldn't find what you're looking for <i class="fa fa-exclamation"></i></p>
    </div> <!-- end container -->
    <script src='http://cdnjs.cloudflare.com/ajax/libs/jquery/3.1.0/jquery.min.js'></script>
  </body>
</html>
